<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BoardNS">
	<!-- BOARD_NUM NOT NULL NUMBER BOARD_TITLE VARCHAR2(50) BOARD_WRITER VARCHAR2(15) 
		BOARD_CONTENT VARCHAR2(2000) BOARD_ORIGINAL_FILENAME VARCHAR2(100) BOARD_RENAME_FILENAME 
		VARCHAR2(100) BOARD_DATE DATE BOARD_LEVEL NUMBER BOARD_REF NUMBER BOARD_REPLY_REF 
		NUMBER BOARD_REPLY_SEQ NUMBER BOARD_READCOUNT NUMBER private int boardNum; 
		private String boardTitle; private String boardWriter; private String boardContent; 
		private String boardOriginalFileName; private String boardRenameFileName; 
		private Date date; private int level; private int ref; private int replyRef; 
		private int replySeq; private int readCount; -->
	<resultMap type="Board" id="boardRM">
		<id property="boardNum" column="BOARD_NUM" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardWriter" column="BOARD_WRITER" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardOriginalFileName"
			column="BOARD_ORIGINAL_FILENAME" />
		<result property="boardRenameFileName"
			column="BOARD_RENAME_FILENAME" />
		<result property="date" column="BOARD_DATE" />
		<result property="level" column="BOARD_LEVEL" />
		<result property="ref" column="BOARD_REF" />
		<result property="replyRef" column="BOARD_REPLY_REF" />
		<result property="replySeq" column="BOARD_REPLY_SEQ" />
		<result property="readCount" column="BOARD_READCOUNT" />
	</resultMap>

	<insert id="insert" parameterType="Board">
		insert into board (BOARD_NUM, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT)
		values ((select nvl(max(BOARD_NUM)), 0) from board)+1, #{boardTitle}, #{boardWriter}, #{boardContent})
	</insert>
	<update id="update" parameterType="Board">
		update board  
		<set>
			<if test="boardTitle != null">
			BOARD_TITLE=#{boardTitle}
			</if>
			<if test="boardTitle != null">
			BOARD_CONTENT=#{boardContent}
			</if>
			<if test="boardTitle != null">
			BOARD_DATE=sysdate
			</if>
		</set>
	</update>
	
	<select id="boardlist" resultType="Board">
		select * from board
	</select>
	<select id="boardlistRM" resultMap="boardRM">
		select * from board
	</select>
	<select id="boardlistHM" resultType="hashmap">
		select * from board
	</select>

	<select id="searchBoardlist" resultType="hashmap"
		parameterType="map">
		select * from board
		where 1=1
		<choose>
			<when test="bt != null">
				and BOARD_TITLE = #{bt}
			</when>
			<when test="bw != null">
				and BOARD_WRITER = #{bw}
			</when>
			<when test="bc != null">
				and BOARD_CONTENT = #{bc}
			</when>
		</choose>
	</select>

	<select id="searchBoardlist2" resultType="hashmap"
		parameterType="map">
		select * from board
		where 1=1
		<if test="bt != null">
			and BOARD_TITLE = #{bt}
		</if>
		<if test="bw != null">
			and BOARD_WRITER = #{bw}
		</if>
		<if test="bc != null">
			and BOARD_CONTENT = #{bc}
		</if>
	</select>
	
	<select id="searchBoardlist3" resultType="hashmap"	parameterType="map">
		select * from board
		where 1=1
		<choose>
			<when test="category == '제목'">
				and BOARD_TITLE like '%'||#{searchValue}||'%'
			</when>
			<when test="category == '작성자'">
				and BOARD_WRITER like '%'||#{searchValue}||'%'
			</when>
			<when test="category == '내용'">
				and BOARD_CONTENT like '%'||#{searchValue}||'%'
			</when>
			<when test="category == '전체'">
				and ( BOARD_TITLE like '%'||#{searchValue}||'%'
					OR BOARD_WRITER like '%'||#{searchValue}||'%'
					OR BOARD_CONTENT like '%'||#{searchValue}||'%' )
			</when>
		</choose>
	</select>
</mapper>




















